* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.body1{
    background-image: url(img/image.jpg);
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type=text] {
    padding: 12px 50px;
    margin-top: 10px;
    border: 1px solid rgb(119, 111, 228);
    border-radius: 4px;
}
.go_to_play{
    background-color: #E88D34;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.group-div.success input {
    border-color: #0bbd70;
    outline: #0bbd70 solid 2px;

    
}
.group-div.error input {
    border-color: #ff3860;
    outline: #ff3860 solid 1px;
}

.group-div .error {
    color: azure;
    font-size: 12px;
    font-weight: bold;
}
/* ////////// Seconde page  /////////////// */
.body2{
    background-image: url(img/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    color: wheat;
    text-align: center;
    margin-top: 20px;
}
.container {
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
.btn{
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
    color: white;
}
.btnReset{
    display: flex;
    justify-content: center;
}
#reset{
    margin-top: 15px;
    background-color: #DDBD32;
    padding: 10px 52px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    border: 0;
    text-decoration: none;
}
.players{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.p1{
    display:inline;
    width:20%;
}
.namePlayer1 , .namePlayer2{
    color: #DDBD32;
    font-weight: bold;
    margin-top: 10px;
}
.result{
    text-align: center;
    color: #B7136B;
    font-size: 29px;
    font-weight: bold;
}
/* ////////////////////model//////////////// */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(48, 41, 41);
    color: white;
    width: 350px;
    height: 200px;
    transform: translate(-50%, -50%);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5), 0 0 0 1000px rgba(71, 68, 68, 0.908);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 23px;
    visibility: hidden;
}
.popup.active {
    visibility: visible;
}
#my-canvas.active {
    visibility: visible;
}

#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;

}